body {
    background-color: rgba(95, 93, 93, 0.513);
}
nav {
    width: 150px;
    background-color: rgb(241, 241, 241);
    color: rgb(255, 196, 0);
}
#Marquee {
    font-size: 45;
    font-weight: bold;
}

body img {
    height: 200px;
    width: 200px;
    display: inline-block;
}