body {
    background-color: rgba(95, 93, 93, 0.513);
    
    /* margin: 0 auto; */
}
nav {

    width: 150px;
    color: rgb(255, 196, 0);
}


body img {
    height: 200px;
    width: 200px;
    display: inline-block;
   
    /* background-color:rgba(60, 143, 78, 0.4);
    background-color:rgba(17, 0, 255, 0.4);
    background-color:rgba(100, 125, 150, 0.4);
    background-color:rgba(125, 150, 175, 0.4);
    background-color:rgba(222, 180, 73, 0.4); */
}

#contact {
    background-color: rgb(138, 119, 250);
}

#contact li{
    background-color: grey;
    margin: 15px;
    width: 350px;
}

#chartArea canvas{
    height: 500px;
    width: 500px;
    
}

marquee{
    height: 40px;
    font-size: 20px;
    padding-top: 15px;
}



#button{
    font-size: 50px;
    position: absolute;
    /* top: 50%; */
    left: 44%;
    

}

footer{
    text-align: center;
    font-size: 35px;
 
    position: relative;
    top: 50 px;
}

#imagesContainer {
    margin: 0 auto;
    text-align: center;
}

#mainPage{
    text-align: center;
}
#mainPage p{
    font-size: 25px;
}